@page
@model SuperheroSocial.Pages.ChangeModel
@{
}
<h1 class="text-center">Update your info</h1>
<form method="put">
	<div class=" wrapper text-center"> 
		
	<label>Name: </label>
	<br />
	<input type="text" placeholder="Name" asp-for="heroes[0].Name" />
	<br />
	<label>Secret identity: </label>
	<br />
	<input type="text" placeholder="Secret identity" asp-for="heroes[0].SecretIdentity" />
	<br />
	<label>Superpower: </label>
	<br />
	<input type="text" placeholder="Superpower" asp-for="heroes[0].SuperPower" />
	<br />
	<input type="text" placeholder="Superpower" asp-for="heroes[1].SuperPower" />
	<br />
	<input type="text" placeholder="Superpower" asp-for="heroes[2].SuperPower" />
	<br />
	<img src="" />
		<input class="btn btn-warning" type="submit" value="Update" />
	</div>

	
</form>