@page
@model SuperheroSocial.Pages.ChangeModel
@{
}
<div id="change" class=" wrapper text-center">
	<h1 class="text-center">Update your info</h1>
<form method="put">
	
		
	<label>New name: </label>
	<br />
	<input type="text" placeholder="Name" asp-for="heroes[0].Name" />
	<br />
	<label>New secret identity: </label>
	<br />
	<input type="text" placeholder="Secret identity" asp-for="heroes[0].SecretIdentity" />
	<br />
	<label>New sgit statusuperpower: </label>
	<br />
	<input type="text" placeholder="Superpower" asp-for="heroes[0].SuperPower" />
	<br />
	<input type="text" placeholder="Superpower" asp-for="heroes[1].SuperPower" />
	<br />
	<input type="text" placeholder="Superpower" asp-for="heroes[2].SuperPower" />
	<br />
	<img src="" />
	<br />
		<input class="btn btn-warning" type="submit" value="Update" />
	

	
</form>
</div>