@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1>Superhero Social Club</h1>

   <h4>New hero? Sign up for free!</h4>
   <div>
       <div>
            <br />
            <label>Superhero name: </label>
            <input type="text" placeholder="Superhero name" asp-for="@Model.Name" />
       </div>
        <div>
            <br />
            <label>Secret identity: </label>
            <input type="text" placeholder="Superhero name" asp-for="@Model.Name" />
        </div>
       
        <a asp-page="Overview" asp-route-name="Overview" class="btn btn-warning">Sign up!</a>
   </div>
   
</div>

